@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/fonts/Roboto-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/fonts/Roboto-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/Roboto-MediumItalic.ttf") format("ttf");
}

