$default-shadow: 0 0 1rem rgba(#000, 0.1);
$app-background: linear-gradient(234.25deg, rgba(255, 0, 77, 0.15) 0%, rgba(0, 0, 0, 0) 70.93%), linear-gradient(79.8deg, rgba(0, 255, 98, 0.15) 0%, rgba(0, 0, 0, 0) 92.37%), linear-gradient(280.2deg, rgba(0, 174, 255, 0.15) 0%, rgba(0, 0, 0, 0) 92.37%), linear-gradient(125.75deg, rgba(166, 0, 255, 0.15) 0%, rgba(0, 0, 0, 0) 70.93%), #000;

$dark-fade-time: 5s;