@import "font";
@import "vars";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    user-select: none;
}

body {
    background-color: black;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
}

#app {
    color: inherit;
    position: relative;
    font-size: 1.5rem;
    width: 50rem;
    height: 30rem;
    overflow: hidden;
    background: $app-background;
    display: flex;
    flex-direction: column;
    outline: .6rem solid transparent;
    outline-offset: -.5rem;
    transition: outline 1s;

    &.offline {
        outline-color: red;
    }


    &::after {
        transition: opacity $dark-fade-time;
        content: "";
        inset: 0;
        opacity: 0;
        background-color: black;
        position: absolute;
        pointer-events: none;
    }
}

#widget-grid {
    padding: 2rem;
    grid-template-areas:
        "cl md"
        "we md";
    grid-template-columns: auto 20rem;
    grid-template-rows: auto 10rem;
    display: grid;
    gap: 2rem;
    flex: 1;
}

.card {
    border-radius: 1rem;
    background-color: rgba(#fff4, 0.25);
    padding: 1rem;
    box-shadow: $default-shadow;
    overflow: hidden;
    transition: background-color $dark-fade-time;

    &.no-padding {
        padding: 0;
    }
}

#app.dark {
    color: #ccc;

    .card {
        background-color: rgba(#9994, 0.25);
    }

    &::after {
        opacity: .4;
    }
}

img {
    max-width: 100%;
}

.app-bar {
    margin: 0 2rem;
    display: flex;
    justify-content: space-around;

    .app-bar-card {
        height: 6rem;
        border: rgba(#fff, 0.5) solid 0.125rem;
        border-bottom: none;
        border-radius: 1rem 1rem 0 0;
        display: inline-flex;
        gap: 1rem;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
}

.app-icon {
    height: 4rem;
    min-width: 4rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.spacer {
    flex: 1;
}

button {
    appearance: none;
    background: transparent;
    color: inherit;
    border: none;
    font-weight: 900;
    font-size: 2rem;
    padding: 0 0.5rem;
}

#web-overlay {
    &:not(.visible) {
        display: none;
    }
    padding-top: 1rem;
    position: absolute;
    inset: 0;
    background-color: rgba(#000, 0.5);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        margin-top: -0.8rem;
        > span {
            font-size: smaller;
            opacity: 0.6;
        }

        :last-child {
            margin-left: auto;
            margin-top: -0.4rem;
        }
    }

    > iframe {
        flex: 1;
        border-radius: 1rem;
        border: none;
        background-color: #333;
    }
}

.muted {
    font-size: 0.8em;
    opacity: 0.6;
}

.no-wrap {
    word-wrap: normal;
    word-break: keep-all;
    white-space: nowrap;
}
